body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(74, 79, 84) !important;
}

a {
  color: #00B7FF;
}

.btn-text .hide{display:inline}
.btn-text:not(.collapsed)  .show{display:none}
.btn-text.collapsed .hide{display:none}

p .btn-text{
  width: 100%;
}